<!DOCTYPE html>
<html>
  <head>
    <title>beverly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class ="application">


<%= flash[:error] %>

<div class ="nav">
  <ul>
<% if @current_user %>
<li><%= link_to "Log Out", "/logout", method: :delete %></li>
<li><%= link_to @current_user.firstname, user_path(@current_user) %></li>
<li><%= link_to edit_user_path(@current_user) %></li>
</ul>
<% else %>
<p class><%= link_to "Login", "/login" %></p>
<p><%= link_to "Sign Up", "/users/new" %></p>
<%end  %>


</div>

    <%= yield %>

  </body>
</html>
